html, head, body {
    height: 100%;
    width: 100%;

    margin: 0px;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
}

:root {
    /* -- Group/Entity colour scheme -- */
    --entity-colour: rgba(255, 249, 196);
    --group-colour: rgba(225, 245, 254);
}